@use '../../styles/abstracts' as *;

.Section {
	min-height: 90vh;
	position: relative;

	@media screen and (min-width: 810px) {
		background-image: url("../../public/images/illustration-editor-desktop.svg");
		background-repeat: no-repeat;
		background-size: 62%, contain;
		background-position: 150% 50%;
	}

	@media screen and (min-width: 1280px) {
		background-size: 750px;
		background-position: 120% 50%;
	}

	@media screen and (min-width: 1500px) {
		background-size: 800px;
		background-position: 110% 50%;
	}

	@media screen and (min-width: 1700px) {
		background-size: 800px;
		background-position: 100% 50%;
	}

	.container {
		@include main-container;
		margin-top: 5rem;
	}

	.header {
		font-size: $heading-medium;
		text-align: center;
		color: $secondary;
		padding-top: 7rem;
	}

	.content {
		margin-bottom: 2rem;
		width: 50%;

		h3 {
			font-size: $heading-small;
			color: $secondary;
		}

		p {
			margin-top: 1rem;
			font-size: $fontsize-medium;
			color: $dark-gray;
		}
	}
}
