@use '../../styles/abstracts' as *;

.Section {
	padding-top: 7rem;
	min-height: 90vh;
	position: relative;

	@media screen and (min-width: 810px) {
		background-repeat: no-repeat;
		background-size: 62%, contain;
		background-position: 150% 50%;
	}

	@media screen and (min-width: 1280px) {
		background-size: 750px;
		background-position: 120% 50%;
	}

	@media screen and (min-width: 1500px) {
		background-size: 800px;
		background-position: 110% 50%;
	}

	@media screen and (min-width: 1700px) {
		background-size: 800px;
		background-position: 100% 50%;
	}

	.header {
		font-size: $heading-medium;
		text-align: center;
		color: $secondary;
		padding: 0 1rem;
	}

	.container {
		@include main-container;

		@media screen and (min-width: 810px) {
			margin-top: 5rem;
		}
	}

	.img {
		max-width: 500px;
		margin: 1.5rem auto;

		@media screen and (min-width: 810px) {
			display: none;
		}
	}

	.content {
		width: 100%;
		margin-bottom: 2rem;
		text-align: center;

		h3 {
			font-size: $heading-small;
			color: $secondary;
		}

		p {
			margin-top: 1rem;
			font-size: $fontsize-medium;
			color: $dark-gray;
		}

		@media screen and (min-width: 810px) {
			width: 50%;
			text-align: left;
		}
	}
}

.editor {
	@media screen and (min-width: 810px) {
		background-image: url("../../public/images/illustration-editor-desktop.svg");
	}
}

.laptop {
	@media screen and (min-width: 810px) {
		background-image: url("../../public/images/illustration-laptop-desktop.svg");
	}
}
