@use '../../styles/abstracts' as *;

.Navbar {
	@include main-container;
	font-family: 'Ubuntu';
	height: 90px;
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	color: $white;

	.logo {
		margin: auto 0;
		margin-right: 4rem;
		width: 85px;
	}

	.group {
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style: none;

		li {
			margin-right: 2rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.groupRight {
		margin-left: auto;
	}
}

.active {
	// background-color: $lighter-red;
	background: linear-gradient(90deg, $lighter-red, $light-red);
}
